*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background-color: #F5F7FA;
	line-height: 1.5;
}

/* CSS header */
header{
	height: 104px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header>section{
	width: 1036px;
	display: flex;
	justify-content: space-between;
}

.header-name{
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 600;
	color: #434a54;
}

.social-networking{
	display: flex;
	font-size: 20px;
	line-height: 40px;
	align-items: center;
}

.social-networking li{
	margin: 0 7px;
}
.social-networking li:last-child{
	margin-right: 0;
}
.social-networking li:first-child{
	margin-left: 0;
}

.social-networking a{
	color: #6c757d;
}
.social-networking a:hover{
	color: #343a40;
}