*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background-color: #F5F7FA;
	line-height: 1.5;
}

/* CSS main */
main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

main>section{
	width: 1036px;
	background-color: #FFFFFF;
}

	/* CSS top main */
.Top-main-content{
	height: 264px;
	background-color: #4A89DC;
	background-image: url(../images/top_main_gridlines.svg);
	display: flex;
}

.Top-main-avatar{
	width: 216px;
	height: 216px;
	position: relative;
	top: 65px;
	left: 45px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Top-main-avatar img{
	width: 200px;
}

.Top-main-info{
	height: auto;
	position: relative;
	left: 105px;
	padding: 48px;
}

.Name-and-specialized{
	color: white;
}

.Name-and-specialized h1{
	font-size: 2.5rem;
	margin: 10px 0;
}

.Name-and-specialized p{
	margin-bottom: 15px;
}

.Top-main-btns{
	display: flex;
}

.Top-main-btns a{
	display: inline-block;
	font-size: 0.9375rem;
	text-align: center;
	padding: 8px 24px;
	margin: 1px;
}

.Btn-download{
	background-color: #E6E9ED;
	margin-top: 8px;
	margin-right: 8px;
}

.Btn-download a{
	color: #434a54;
}

.Btn-hire{
	background-color: #37BC9B;
	margin-top: 8px;
}

.Btn-hire a{
	color: #FFFFFF;
}

.Btn-download, .Btn-hire{
	height: 40.5px;
	border-radius: 3rem;
}

	/* CSS about main */
#About-main{
	padding-top: 50px;
	padding-bottom: 32px;
}

.About-main-content{
	display: flex;
}

.About-me{
	flex: 1.2;
}

.Info-me{
	flex: 1;
	padding-top: 25px;
	padding-left: 100px;
}

.Info-me .row{
	display: flex;
}

.Info-me .left{
	flex: 1;
}

.Info-me .right{
	flex: 2;
}

.Info-me .right, .Info-me .left{
	padding-bottom: 8px;
}

.About-me>p, .Info-me .right, .Info-me .left{
	color: #434a54;
}

	/* CSS Professional skills */
.level{
	display: flex;
}

.level .left{
	padding-right: 12px;
}

.level .left>div{
	margin-bottom: 16px;
}

.level .right{
	padding-left: 12px;
}

.level .right>div{
	margin-bottom: 16px;	
}

.level .left, .level .right{
	flex: 1;
}

.level-animation{
	height: 16px;
	background-color: #e9ecef;
	border-radius: 0.25rem;
	overflow: hidden;
	margin-top: 5px;
}

.left .level-animation div{
	background-color: #4A89DC;
}

.right .level-animation div{
	background-color: #37BC9B;
}

	/* CSS Work Experience and Education */
.timeline{
	border-left: 2px solid #E6E9ED;
    padding: 1rem 0;
}

.card-body{
	display: flex;
	flex-direction: column;
	padding: 32px;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 0.25rem;
	margin: 0px 0px 32px 31px;
	position: relative;
}

.first{
	border-left: 2px solid #4A89DC;
}

.second{
	border-left: 2px solid #37BC9B;
}

.timeline .first:before{
	content: "";
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 50%;
	border: 2px solid #4A89DC;
	display: inline-block;
	position: absolute;
	left: -40px;
	top: 27px;
}

.timeline .first:after{
	content: "";
	width: 29px;
	height: 1px;
	background-color: #4A89DC;
	display: inline-block;
	position: absolute;
	left: -30px;
}

.timeline .second:before{
	content: "";
	width: 7px;
	height: 7px;
	background-color: #FFFFFF;
	border-radius: 50%;
	border: 2px solid #37BC9B;
	display: inline-block;
	position: absolute;
	left: -40px;
	top: 27px;
}

.timeline .second:after{
	content: "";
	width: 29px;
	height: 1px;
	background-color: #37BC9B;
	display: inline-block;
	position: absolute;
	left: -30px;
}

.title-card{
	margin-bottom: 8px;
}

	/* CSS Contact */
.Contact-main-content .row{
	display: flex;
}

.form-contact{
	flex: 1.5;
	padding-right: 12px;
}

.input-name{
	margin-right: 12px;
}

.input-email{
	margin-left: 12px;
}

.input-message{
	height: 112px;
	line-height: 1.5rem;
	resize: none;
}

input, textarea{
	width: 100%;
	height: 40px;
	color: #434a54;
	font-size: 1rem;
	padding: 6px 12px;
    background-color: #f8f9fa;
    background-clip: padding-box;
    margin-bottom: 1rem;
    border: 2px solid #dee2e6;
    border-radius: 0.25rem;
}

input:focus, textarea:focus{
	color: #434a54;
	background-color: #fff;
	border-color: #a5c4ee;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(74 137 220 / 25%);
}

.Btn-send{
	color: #FFFFFF;
	font-size: .9375rem;
	background-color: #4a89dc;
	line-height: 1.5rem;
	outline: none;
    padding: 8px 24px;
    border: 1px solid transparent;
	border-radius: 3rem;
	margin: 0.75rem 0;
	transition: 0.18s;
}

.Btn-send:hover{
	color: #fff;
    background-color: #3f74bb;
    border-color: #3b6eb0;
    transform: translateY(-2px);
}

.Btn-send:focus{
	border-color: #a5c4ee;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(74 137 220 / 25%);
}

.info-contact{
	flex: 1;
	padding-left: 12px;
}

.info-contact h4{
	margin-bottom: 16px;
	color: #434a54;
}

.info-contact p{
	margin-bottom: 16px;
}

/*Common Attributes*/
.P-lr{
	padding-left: 48px;
	padding-right: 48px;
}

.P-tb{
	padding-top: 32px;
	padding-bottom: 32px;
}

h2{
	font-size: 28px;
	color: #434a54;
	margin-bottom: 32px;
}

hr{
	width: 1036px;
}

p, h2, h3, .Info-me .right, .Info-me .left{
	color: #434a54;
}

span, h4{
	color: #6c757d;
}

span{
	margin-bottom: 16px;
}

h2{
	font-size: 1.75rem;
	margin-bottom: 32px;
}

h3{
	font-size: 1.25rem;
	display: inline-block;
}

h4{
	font-size: 1rem;
	display: inline-block;
}

hr{
	border: 0;
	height: 1px;
	background-color: #e6e9ed;
}

/*ANIMATION CSS*/
.Name, .Specialized, .Top-main-btns{
	animation: Top_main_info_animation 1s;
	animation-fill-mode: both;
}

.Name{
	animation-delay: 0.1s;
}
.Specialized{
	animation-delay: 0.2s;
}
.Top-main-btns{
	animation-delay: 0.3s;
}

.level-animation>div{
	animation: level_skills_animation 1s;
	animation-fill-mode: both;
}

.lv1>div{
	animation-delay: 0.1s;
}
.lv2>div{
	animation-delay: 0.2s;
}
.lv3>div{
	animation-delay: 0.3s;
}

@keyframes Top_main_info_animation{
	0%{
		margin-left: 150px;
		opacity: 0;
	}
	100%{
		margin-left: 0;
		opacity: 1;
	}
}

@keyframes level_skills_animation{
	0%{
		width: calc(var(--level_width) - 30%);
		height: 16px;
		opacity: 0;
	}
	100%{
		width: var(--level_width);
		height: 16px;
		opacity: 1;
	}
}


